# Homework 3

## Cell Phone Data

In [194]:
import pandas as pd
df = pd.read_csv('cell_phones_total.csv')
df

,iso-3,1960,1965,1966,1967,1968,1969,1970,1971,1972,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,ABW,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,132k,NaN,135k,139k,140k,141k,NaN,NaN,NaN,NaN
1,AFG,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,10.2M,13.8M,15.3M,16.8M,18.4M,19.7M,21.6M,23.9M,22M,22.6M
2,AGO,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,9.4M,12.1M,12.8M,13.3M,14.1M,13.9M,13M,13.3M,13.3M,14.8M
3,ALB,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,2.69M,3.1M,3.5M,3.69M,3.36M,3.4M,3.37M,3.63M,2.71M,2.63M
4,AND,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,65.5k,65k,63.9k,63.9k,66.2k,71.3k,76.1k,80.3k,82.6k,87.9k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,562k,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,YEM,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,11.1M,11.7M,13.9M,16.8M,17.1M,15M,16.4M,15.4M,15.3M,NaN
211,ZAF,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,50.4M,64M,68.4M,76.9M,79.3M,88M,82.4M,88.5M,92.4M,97M
212,ZMB,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,5.45M,8.16M,10.5M,10.4M,10.1M,11.6M,12M,13.4M,15.5M,17.2M
213,ZWE,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,7.7M,9.2M,12.6M,13.6M,11.8M,12.8M,12.9M,14.1M,12.9M,13.2M

We create a function to convert the string numeric values to floats and apply it to all columns except first.

In [195]:
def convert_to_number(value):
    str_numbers = {'k': 1000, 'M': 1000000, 'B': 1000000000}
    if isinstance(value, str):
        if value[-1] in str_numbers:
            number = float(value[:-1])
            return number * str_numbers[value[-1]]
        else:
            return float(value)
    return value
df.iloc[:,1:] = df.iloc[:,1:].map(convert_to_number)
df

,iso-3,1960,1965,1966,1967,1968,1969,1970,1971,1972,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,ABW,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,132000.0,NaN,135000.0,139000.0,140000.0,141000.0,NaN,NaN,NaN,NaN
1,AFG,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,10200000.0,13800000.0,15300000.0,16800000.0,18400000.0,19700000.0,21600000.0,23900000.0,22000000.0,22600000.0
2,AGO,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,9400000.0,12100000.0,12800000.0,13300000.0,14100000.0,13900000.0,13000000.0,13300000.0,13300000.0,14800000.0
3,ALB,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,2690000.0,3100000.0,3500000.0,3690000.0,3360000.0,3400000.0,3370000.0,3630000.0,2710000.0,2630000.0
4,AND,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,65500.0,65000.0,63900.0,63900.0,66200.0,71300.0,76100.0,80300.0,82600.0,87900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,562000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,YEM,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,11100000.0,11700000.0,13900000.0,16800000.0,17100000.0,15000000.0,16400000.0,15400000.0,15300000.0,NaN
211,ZAF,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,50400000.0,64000000.0,68400000.0,76900000.0,79300000.0,88000000.0,82400000.0,88500000.0,92400000.0,97000000.0
212,ZMB,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,5450000.0,8160000.0,10500000.0,10400000.0,10100000.0,11600000.0,12000000.0,13400000.0,15500000.0,17200000.0
213,ZWE,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,7700000.0,9200000.0,12600000.0,13600000.0,11800000.0,12800000.0,12900000.0,14100000.0,12900000.0,13200000.0

Then we want to fill all nan values with zero, along the rows, until we reach a value larger than zero indicating that recordings has begun for the given country.

In [196]:
def first_fill(row):
    filled = []
    larger_than_zero = False
    for value in row:
        if not larger_than_zero:
            if pd.isna(value) or value == 0:
                filled.append(0)
            else:
                larger_than_zero = True
                filled.append(value)
        else:
            filled.append(value)
    return filled
df.iloc[:,1:] = df.iloc[:,1:].apply(first_fill, axis=1, result_type='expand')
df

,iso-3,1960,1965,1966,1967,1968,1969,1970,1971,1972,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,ABW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,132000.0,NaN,135000.0,139000.0,140000.0,141000.0,NaN,NaN,NaN,NaN
1,AFG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10200000.0,13800000.0,15300000.0,16800000.0,18400000.0,19700000.0,21600000.0,23900000.0,22000000.0,22600000.0
2,AGO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9400000.0,12100000.0,12800000.0,13300000.0,14100000.0,13900000.0,13000000.0,13300000.0,13300000.0,14800000.0
3,ALB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2690000.0,3100000.0,3500000.0,3690000.0,3360000.0,3400000.0,3370000.0,3630000.0,2710000.0,2630000.0
4,AND,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,65500.0,65000.0,63900.0,63900.0,66200.0,71300.0,76100.0,80300.0,82600.0,87900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,XKX,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,562000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,YEM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11100000.0,11700000.0,13900000.0,16800000.0,17100000.0,15000000.0,16400000.0,15400000.0,15300000.0,NaN
211,ZAF,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,50400000.0,64000000.0,68400000.0,76900000.0,79300000.0,88000000.0,82400000.0,88500000.0,92400000.0,97000000.0
212,ZMB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5450000.0,8160000.0,10500000.0,10400000.0,10100000.0,11600000.0,12000000.0,13400000.0,15500000.0,17200000.0
213,ZWE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7700000.0,9200000.0,12600000.0,13600000.0,11800000.0,12800000.0,12900000.0,14100000.0,12900000.0,13200000.0

Now we fill in the rest of the missing values by using the value before as an estimate for the missing value.

In [197]:
def second_fill(row):
    filled = []
    for value in row:
        if pd.isna(value) and filled:
            filled.append(filled[-1])
        else:
            filled.append(value)
    return filled
df.iloc[:, 1:] = df.iloc[:, 1:].apply(second_fill, axis=1, result_type='expand')
df

,iso-3,1960,1965,1966,1967,1968,1969,1970,1971,1972,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,ABW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,132000.0,132000.0,135000.0,139000.0,140000.0,141000.0,141000.0,141000.0,141000.0,141000.0
1,AFG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10200000.0,13800000.0,15300000.0,16800000.0,18400000.0,19700000.0,21600000.0,23900000.0,22000000.0,22600000.0
2,AGO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9400000.0,12100000.0,12800000.0,13300000.0,14100000.0,13900000.0,13000000.0,13300000.0,13300000.0,14800000.0
3,ALB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2690000.0,3100000.0,3500000.0,3690000.0,3360000.0,3400000.0,3370000.0,3630000.0,2710000.0,2630000.0
4,AND,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,65500.0,65000.0,63900.0,63900.0,66200.0,71300.0,76100.0,80300.0,82600.0,87900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,XKX,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,562000.0,562000.0,562000.0,562000.0,562000.0,562000.0,562000.0,562000.0,562000.0,562000.0
210,YEM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11100000.0,11700000.0,13900000.0,16800000.0,17100000.0,15000000.0,16400000.0,15400000.0,15300000.0,15300000.0
211,ZAF,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,50400000.0,64000000.0,68400000.0,76900000.0,79300000.0,88000000.0,82400000.0,88500000.0,92400000.0,97000000.0
212,ZMB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5450000.0,8160000.0,10500000.0,10400000.0,10100000.0,11600000.0,12000000.0,13400000.0,15500000.0,17200000.0
213,ZWE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7700000.0,9200000.0,12600000.0,13600000.0,11800000.0,12800000.0,12900000.0,14100000.0,12900000.0,13200000.0

Lastly we reverse the order of year columns and display the numbers in the format requested.

In [198]:
year_columns = sorted([col for col in df.columns if col.isdigit()], reverse=True)
columns_order = ['iso-3'] + year_columns
df = df[columns_order]
pd.options.display.float_format = '{:.2e}'.format
df

,iso-3,2019,2018,2017,2016,2015,2014,2013,2012,2011,...,1973,1972,1971,1970,1969,1968,1967,1966,1965,1960
0,ABW,1.41e+05,1.41e+05,1.41e+05,1.41e+05,1.41e+05,1.40e+05,1.39e+05,1.35e+05,1.32e+05,...,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00
1,AFG,2.26e+07,2.20e+07,2.39e+07,2.16e+07,1.97e+07,1.84e+07,1.68e+07,1.53e+07,1.38e+07,...,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00
2,AGO,1.48e+07,1.33e+07,1.33e+07,1.30e+07,1.39e+07,1.41e+07,1.33e+07,1.28e+07,1.21e+07,...,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00
3,ALB,2.63e+06,2.71e+06,3.63e+06,3.37e+06,3.40e+06,3.36e+06,3.69e+06,3.50e+06,3.10e+06,...,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00
4,AND,8.79e+04,8.26e+04,8.03e+04,7.61e+04,7.13e+04,6.62e+04,6.39e+04,6.39e+04,6.50e+04,...,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,XKX,5.62e+05,5.62e+05,5.62e+05,5.62e+05,5.62e+05,5.62e+05,5.62e+05,5.62e+05,5.62e+05,...,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00
210,YEM,1.53e+07,1.53e+07,1.54e+07,1.64e+07,1.50e+07,1.71e+07,1.68e+07,1.39e+07,1.17e+07,...,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00
211,ZAF,9.70e+07,9.24e+07,8.85e+07,8.24e+07,8.80e+07,7.93e+07,7.69e+07,6.84e+07,6.40e+07,...,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00
212,ZMB,1.72e+07,1.55e+07,1.34e+07,1.20e+07,1.16e+07,1.01e+07,1.04e+07,1.05e+07,8.16e+06,...,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00
213,ZWE,1.32e+07,1.29e+07,1.41e+07,1.29e+07,1.28e+07,1.18e+07,1.36e+07,1.26e+07,9.20e+06,...,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00,0.00e+00